.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
gradle-app.setting.lock
.gradle/7*/executionHistory/
.gradle/8*/executionHistory/
.idea/
*.iml
*.ipr
*.iws
.cxx/
.externalNativeBuild/
captures/
local.properties
**/gradle.properties
*.jks
*.keystore
*.pem
*.p12
*.cer
*.key
*.der
.DS_Store
Thumbs.db
*.log
.jetifier/
out/
*.swp
*.swo
